html {
  margin:0;
  padding:0;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
 overflow: hidden;
  position: relative;
}


h1,
h2,h3,h4,h5,h6,a,p,ul{
  margin: 0;
  padding: 0;
}
a{
  transition: all 0.3s linear 0s;
}
p{
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #646464 !important;
}

button{
  transition: all 0.5s linear 0s;
  cursor: pointer;
}
button:focus{
  box-shadow: none;
  outline: none;
}

.main-div{
  display: flex;
  overflow: hidden;
}
.left-sidebar-main{
  background-color: black;
  flex: 0 0 230px;
  height: 100vh;
 max-width: 230px;
}
.right-sidebar-main{
  background-color: gray;
  flex: 1;
  max-width: calc(100% - 230px);
}
.topbar-header{
  background-color: greenyellow;
  height: 76px;
  width: 100%;
}
.content-area{
  background-color: rgb(240, 239, 239);
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 76px);
}

.side-bar-left-main{
  background-image: linear-gradient(90deg,#27e2de 0,#2974ef);
  height: 100%;
  width: 100%;
  padding: 15px 10px;
}
.side-bar-right-main{
  background-color: rgb(240, 239, 239);

}
.pr-0{
  padding-right: 0px !important;
}
.pl-0{
  padding-left: 0px !important;
}
.tw-logo h4{
  color: white;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid white;
  margin: 20px 0px;
  text-align: center;
}
.profile-circle{
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-circle img{
  height: 20px;
  width: auto;
}
.profile-main h5{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-left: 20px;
}
.profile-sub{
  align-items: center;
  display: flex;
  justify-content: center;
}
.logout-profile img{
  height: 25px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mr-20{
  margin-right: 20px;
}
.home-button-side{
  margin-top: 40px;
}

.home-button-side .tab {
  width: 100%;
}

/* Style the buttons inside the tab */
.home-button-side .tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 16px 16px;
  width: 100% !important;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.home-button-side .tab button:hover {
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
}

/* Create an active/current "tab button" class */
.home-button-side .tab button.active {
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
}

/* Style the tab content */
.home-detail-view .tabcontent {
  float: left;
  padding: 0px 12px;
  width: 100%;
  border-left: none;
  height: 300px;
}
.home-page-sub{
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.box-color1{
  background-image: linear-gradient(to right,#00B4DB,#0083B0);
}
.box-color2{
  background-image: linear-gradient(to right,#00b09b,#96c93d);
}
.box-color3{
  background-image: linear-gradient(to right,#ff9966,#ff5e62);
}
.box-color4{
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
}
.mr-10{
  margin-right: 10px;
}
.dashboard-page-color{
  height: 130px;
  width: 237px;
  background-color: transparent;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.dashboard-page-color img{
  height: 50px;
  width: auto;
  padding: 0px 15px;
}
.dashboard-page-color h5{
  font-size: 16px;
  font-weight: 600;
}
.dashboard-page-color p{
  color: white !important;
}
.dashboard-page-color a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.dashboard-chart{
  width: 100%;
  height: 245px;
  background-color: white;
  overflow: hidden;
}
.dashboard-chart img{
  height: 245px;
  width: 100%;
  object-fit: cover;
}
.dashboard-slider-main{
  height: 175px;
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}
.dashboard-slider-main .swiper-container{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,#96dd4b 0,#2eb96e 51%,#96dd4b 100%);
}
.dashboard-slider-main .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-image: linear-gradient(to right,#96dd4b 0,#2eb96e 51%,#96dd4b 100%);
  color: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.search-circle{
  height: 60px;
  width: 60px;
  background-image: linear-gradient(to right,#96dd4b 0,#2eb96e 51%,#96dd4b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.search-circle img{
  height: 30px;
  width: auto;
}

.search-heading p{
  text-align: center;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-top: 10px;
}
.search-book-sub{
  padding: 20px 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
  margin-top: 50px;
}
.mb-20{
  margin-bottom: 20px;
}

.main-header{
  background-color: white;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
  padding: 20px;
  z-index: 1111111111111111111111;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-header form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60.5%;
  background: #f1f1f1;
}
.main-header h4{
  margin-bottom: 10px;
}
.main-header form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-right: 20px;
}

.main-header form.example button:hover {
  background: #0b7dda;
}

.main-header form.example::after {
  content: "";
  clear: both;
  display: table;
}
.btn-main{
  background: #2196F3;
  border: none;
  color: white;
}
.btn-main:hover{
  background: #0b7dda;
}
.latest-member-circle{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-image: linear-gradient(to right,#96dd4b 0,#2eb96e 51%,#96dd4b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.latest-member-circle img{
  height: 45px;
  width: auto;
  object-fit: cover;
}
.recent-booking-main{
  background-color: white;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 50px;
}
.latest-member{
  text-align: center;

}
.latest-member p{
  margin-top: 10px;
}
.recent-transactions{
  background-color: white;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 50px;
}
.recent-transactions h4{
  margin-bottom: 30px;
}
.recent-transactions p{
  color: #2eb96e !important;
}
.recent-transactions small{
  color: #646464;
}
.color-green{
  color: #2eb96e !important;
}
.mt-20{
  margin-top: 18px;
}
.mt-100{
  margin-top: 100px ;
}

.tab-book {
  overflow: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

/* Style the buttons inside the tab */
.tab-book button {
 
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 100%;
  background-color: white;
  margin-right: 10px;
}
.mr-0{
  margin-right: 0px !important;
}

/* Change background color of buttons on hover */
.tab-book button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-book button.active {
  background-color: rgba(0, 0, 0, 0.5);
 color: white;
}

/* Style the tab content */
.tabcontent-book {
  display: none;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: none;
  padding-top: 30px;
}
.initial-active{
  display: block !important;
}

.tab-book1 {
  overflow: hidden;
  background-color: transparent;
}

/* Style the buttons inside the tab */
.tab-book1 button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

/* Change background color of buttons on hover */
.tab-book1 button:hover {
  border-bottom: 2px solid white;
}

/* Create an active/current tablink class */
.tab-book1 button.active {
  border-bottom: 2px solid white;
}
/* Style the tab content */
.tabcontent-book1 {
  display: none;
  padding: 6px 12px;
  color: white;
  background-color: transparent;
}
.btn-dd{
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  border: none;
  background-image: url(../img/down-arrow.svg);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
}


.btn-find{
  margin-top: 9px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(235, 0, 141, 1) , rgba(153, 102, 255, 1));
  opacity: 1 !important;
  color: white;
  border: none;
  padding: 9px 0px;
}
.flight-icon{
  background-image: url(../img/plane.svg);
  background-size: 25px;
  background-position: 4px 7px;
  background-repeat: no-repeat;
  padding-left: 34px;
}
.location-icon{
  background-image: url(../img/pin.svg);
  background-size: 20px;
  background-position: 4px 7px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.hotel-icon{
  background-image: url(../img/hotel1.svg);
  background-size: 25px;
  background-position: 4px 7px;
  background-repeat: no-repeat;
  padding-left: 34px;
}
.btn11{
  width: 200px;
  padding: 12px 0px;
  font-size: 18px;
  font-weight: 500;
}
.color-white{
  color: white !important;
}
.sidebar-button li{
  padding: 15px;
  background-color: transparent;
}
.sidebar-button li a{
  text-decoration: none;
  color: white;
  
}
.sidebar-button li:hover{
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
}
.sub-menu-btn{
  list-style: none;
}

.monthly-graph .highcharts-figure, .highcharts-data-table table {
  min-width: 850px; 
  max-width: 1000px;
  margin: 1em auto;
}

.monthly-graph .highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}
.monthly-graph .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.monthly-graph .highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}
.monthly-graph .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.monthly-graph .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.monthly-graph .highcharts-data-table tr:hover {
  background: #f1f7ff;
}



.monthly-graph1 .highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 660px;
  margin: 1em auto;
}

.monthly-graph1 .highcharts-data-table table {
font-family: Verdana, sans-serif;
border-collapse: collapse;
border: 1px solid #EBEBEB;
margin: 10px auto;
text-align: center;
width: 100%;
max-width: 500px;
}
.monthly-graph1 .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.monthly-graph1 .highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}
.monthly-graph1 .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.monthly-graph1 .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.monthly-graph1 .highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.search-book-main{
  margin-top: 50px;
}
.company-user-table{
  margin-top: 50px;
}
.company-user-table .table{
  background-color: white;
}

