html {
  margin:0;
  padding:0;
  overflow-x:hidden !important;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,h3,h4,h5,h6,a,p,ul{
  margin: 0;
  padding: 0;
}
a{
  transition: all 0.3s linear 0s;
}
p{
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #646464 !important;
}

button{
  transition: all 0.5s linear 0s;
  cursor: pointer;
}
button:focus{
  box-shadow: none;
  outline: none;
}
.container{
  max-width: 1200px !important;
}
.side-bar-left-main{
  background-image: linear-gradient(90deg,#27e2de 0,#2974ef);
  height: 100%;
  width: 100%;
  padding: 15px 10px;
}
.side-bar-right-main{
  background-color: rgb(240, 239, 239);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pr-0{
  padding-right: 0px !important;
}
.pl-0{
  padding-left: 0px !important;
}
.tw-logo h4{
  color: white;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid white;
  margin: 20px 0px;
  text-align: center;
}
.profile-circle{
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-circle img{
  height: 30px;
  width: auto;
}
.profile-main h5{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}
.logout-profile img{
  height: 25px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mr-20{
  margin-right: 20px;
}

.home-button-side .tab {
  width: 100%;
}

/* Style the buttons inside the tab */
.home-button-side .tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 16px 16px;
  width: 100% !important;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.home-button-side .tab button:hover {
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
}

/* Create an active/current "tab button" class */
.home-button-side .tab button.active {
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
}

/* Style the tab content */
.home-detail-view .tabcontent {
  float: left;
  padding: 0px 12px;
  width: 100%;
  border-left: none;
  height: 300px;
}
.home-page-sub{
  height: 230px;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
  margin-top: 15px;
}
.box-color1{
  background-image: linear-gradient(to right,#00B4DB,#0083B0);
}
.box-color2{
  background-image: linear-gradient(to right,#00b09b,#96c93d);
}
.box-color3{
  background-image: linear-gradient(to right,#ff9966,#ff5e62);
}
.box-color4{
  background-image: linear-gradient(to right,#7491ff,#0ac3fa 48%,#4addea);
}
.mr-10{
  margin-right: 10px;
}
.dashboard-page-color{
  height: 130px;
  width: 237px;
  background-color: transparent;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.dashboard-page-color img{
  height: 50px;
  width: auto;
  padding: 0px 15px;
}
.dashboard-page-color h5{
  font-size: 16px;
  font-weight: 600;
}
.dashboard-page-color p{
  color: white !important;
}
.dashboard-page-color a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.dashboard-chart{
  width: 100%;
  height: 245px;
  background-color: white;
  overflow: hidden;
}
.dashboard-chart img{
  height: 245px;
  width: 100%;
  object-fit: cover;
}
.dashboard-slider-main{
  height: 245px;
  width: 100%;
}
.dashboard-slider-main .swiper-container{
  width: 100%;
  height: 100%;
}
.dashboard-slider-main .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.search-circle{
  height: 100px;
  width: 100px;
  background-image: linear-gradient(to right,#96dd4b 0,#2eb96e 51%,#96dd4b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.search-circle img{
  height: 50px;
  width: auto;
}
.search-heading p{
  text-align: center;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-top: 10px;
}
.search-book-sub{
  padding: 50px 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) ;
  margin-top: 50px;
}
.mb-30{
  margin-bottom: 30px;
}